---
services:
  wireguard:
    image: {{ wireguard_container_image }}
    container_name: wireguard
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - {{ Wireguard_config_volume }}:/config
      - /lib/modules:/lib/modules #optional
    restart: unless-stopped